
.hero {
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    width: 100%;
    margin: 0;
}
.content {
    align-items: center;
    display: flex;
    gap: 10rem;
    height: 65rem;
    justify-content: center;
    position: relative;
   
}

@keyframes appearance {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.main {
    align-items: center;
    display: flex;
    gap: 10rem;
    justify-content: center;
    position: relative;
    opacity: 0;
    animation: appearance 3s forwards;
}
.textPart {
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    position: relative;
}
.textPart h1 {
    color: #2d2e32;
    font-size: 5.5rem;
    line-height: 1.2;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.textPart img {
    height: 6rem;
    position: absolute;
    right: 13rem;
    top: 8.7rem;
    width: 6rem;
    animation: hello 2s infinite;
    transform-origin: bottom right;
}

@keyframes hello {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(30deg);
    }
    100% {
        transform: rotate(0deg);
    }
}


.textPart p {
    color: #555;
    font-family: Mulish,sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.6;
}
.textPart span {
    cursor: pointer;
    display: flex;
    gap: 1.3rem;
    margin: 2.5rem 0;
}
.textPart span a {
    transition: all .2s;
    color: #2d2e32;
    font-size: 3rem;

    &:hover,
    &:focus {
        color: #147efb;
    }
}
.imgPartContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.imgPart {
    animation: morph 8s ease-in-out infinite;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid #2d2e32;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    height: 35rem;
    position: relative;
    transition: all 1s ease-in-out;
    width: 35rem;
    display: block;
    cursor: url('../../images/cursor.cur'), auto;
}
@keyframes morph {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100% {
       border-radius: 60% 40% 30% 70%/60% 30% 70% 40%; 
    }
}
.imgText {
    color: #2d2e32;
    font-family: Mulish,sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.6;
    text-align: center;
}
.skills {
    align-items: center;
    padding-bottom: 5px;
    bottom: 0;
    color: #767676;
    display: flex;
    font-size: 1.7rem;
    left: 0;
    position: absolute;
}
.skills p {
    border-right: 2px solid rgba(45,46,50,.5);
    color: #2d2e32;
    font-family: Mulish,sans-serif;
    font-weight: 600;
    margin-right: 7rem;
    padding-right: 2rem;
}
.skills ul {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    list-style: none;
}
.skills ul li {
    cursor: pointer;
}


.skillsFisrstItem,
.skillsSecondItem,
.skillsThirdItem {
    opacity: 0;
    transform: translateX(-100%);
}

.skillsFirstItemAnim,
.skillsSecondItemAnim,
.skillsThirdItemAnim {
    opacity: 0;
    transform: translateX(-100%);
    animation: cascade 0.75s forwards;
}

.skillsSecondItemAnim {
    animation-delay: 0.5s;
}
.skillsThirdItemAnim {
    animation-delay: 1s;
}

@keyframes cascade {
    0% {
        opacity: 0;
        transform: translateX(-100%);

    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
    
}

.skills ul li img {
    height: 5rem;
    transition: all .3s ease-in-out;
    width: 11rem;
}
.skills ul li img:hover {
    transform: translateY(-1rem);
}


@media screen and (max-width: 900px) {
    .hero {
    height: auto;
    padding: 11rem 0;
    }
    .content {
    flex-direction: column;
    gap: 3rem;
    height: auto;
    text-align: center;
    }
    .main {
    flex-direction: column-reverse;
    gap: 3rem;
    height: auto;
    text-align: center;
    }
    .textPart img {
    right: 3rem;
    }
    .textPart p {
    margin-bottom: 5rem;
    }
    .textPart span {
    gap: 1.6rem;
    justify-content: center;
    margin-bottom: 4rem;
    margin-top: -2rem;
    }
    .skills {
    flex-direction: column;
    position: static;
    }
    .skills p {
    border-bottom: 2px solid rgba(45,46,50,.5);
    border-right: none;
    margin-bottom: 3rem;
    margin-right: 0;
    padding-bottom: 1rem;
    padding-right: 0;
    }
    .skills ul {
    justify-content: center;
    }
}

@media screen and (max-width: 500px) {
    .textPart h1 {
    font-size: 4rem;
    }
    .textPart img {
    height: 4.5rem;
    right: 4rem;
    top: 6.4rem;
    width: 4.5rem;
    }
    .imgPart {
    height: 28rem;
    width: 28rem;
    }
}
@media screen and (max-width: 400px) {
    .textPart img {
    right: 3rem;
    }
}
@media screen and (max-width: 375px) {
    .textPart img {
    right: 1.7rem;
    }
}