.section {
    background-color: #fff;
    padding: 11rem 0;
}
.content {
    display: flex;
    flex-direction: column;
}
.title p {
    color: #147efb;
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
}
.title h3 {
    color: #2d2e32;
    font-size: 2.5rem;
}
.icons {
    display: flex;
    flex-wrap: wrap;
    gap: 8rem;
    margin-top: 6rem;
}
.iconBox {
    align-items: center;
    display: flex;
    gap: 1.5rem;
}
.iconBox span {
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    color: #147efb;
    display: flex;
    height: 5rem;
    justify-content: center;
    width: 5rem;
}
.info {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.info h3 {
    color: #2d2e32;
    font-size: 1.7rem;
}
.info a, 
.info p {
    color: #767676;
    cursor: pointer;
    font-size: 1.7rem;
    text-decoration: none;
    transition: all .3s;
    
    &:hover {
    color: #147efb;   
    }
}