.section {
    background-color: #fff;
    padding: 11rem 0;
}
.content {
    display: flex;
    flex-direction: column;
}
.title {
    overflow: hidden;
}

.contactText {
    opacity: 0;
    transform: translateX(50%);
}

.contactTextAnim {
    opacity: 0;
    transform: translateX(50%);
    color: #147efb;
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
    animation: gotoleft 2s forwards;
}

@keyframes gotoleft {
    0% {
       opacity: 0;
       transform: translateX(50%); 
    }
    100% {
        opacity: 1;
        transform: translateX(0); 
    }
}

.contactTitle {
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid;
  width: 0; 
}

.contactTitleAnim {
    color: #2d2e32;
    font-size: 2.5rem;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid;
    width: 0;
    animation: typing 2s steps(40,end) forwards;
}

@keyframes typing {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
        border: 0;
    }
}

.icons {
    display: flex;
    flex-wrap: wrap;
    gap: 8rem;
    margin-top: 6rem;
}
.iconBox {
    align-items: center;
    display: flex;
    gap: 1.5rem;
}
.iconBox span {
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    color: #147efb;
    display: flex;
    height: 5rem;
    justify-content: center;
    width: 5rem;
}
.info {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.info h3 {
    color: #2d2e32;
    font-size: 1.7rem;
}
.info a, 
.info p {
    color: #767676;
    cursor: pointer;
    font-size: 1.7rem;
    text-decoration: none;
    transition: all .3s;
    
    &:hover {
    color: #147efb;   
    }
}
@media screen and (max-width: 1020px) {
    .section {
    padding: 8rem 0;
    }
}
@media screen and (max-width: 750px) {
    .title {
    text-align: center;
    }
    .icons {
    flex-direction: column;
    gap: 5rem;
    justify-content: center;
    text-align: center;
    }
    .iconBox {
    flex-direction: column;
    }  
}