.header {
    align-items: center;
    background-color: #fff;
    font-size: 1.7rem;
    box-shadow: 0 0 10px rgba(0,0,0,.09);
    display: flex;
    height: auto;
    justify-content: space-between;
    left: 0;
    padding: 25px 40px 25px 50px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200;
}

.logo {
    color: #2d2e32;
    cursor: pointer;
    transition: all 0.23s;
    transform: translateX(-100%);
    opacity: 0;
    animation: gotoright 1.5s forwards;
    &:hover,
    &:focus {
        color:#147efb;
    };   
}

@keyframes gotoright {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.list {
    display: flex;
    gap: 2rem;
    transform: translateX(70%);
    overflow: hidden;
    opacity: 0;
    animation: gotoleft 1.5s forwards;
}

@keyframes gotoleft {
    0% {
        opacity: 0;
        transform: translateX(70%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.link {
    color: #2d2e32;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.23s;

    &:hover,
    &:focus {
        color: #147efb;
    }
}
.mobileMenubtn {
    cursor: pointer;
    display: none;
    font-size: 2.3rem;
}

@media screen and (max-width: 900px)  {
    .link {
    display: none;
    }
    .mobileMenubtn {
    display: flex;
    background-color: transparent;
    border: none;
    padding: 0;
    }
}