.footer {
    background-color: #2d2e32;
    padding: 5rem 0;
    width: 100%;
}
.content {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.footer h3 {
    color: #fff;
    font-size: 1.7rem;
}
.socials {
    align-items: center;
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-top: 1rem;
}
.socials a {
    color: #fff;
    font-size: 2.3rem;
}
.socials li {
    transition: all .2s ease-in-out;
    &:hover {
        transform: scale(1.2);
    }
}
@media screen and (max-width: 550px) {
    .content {
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    text-align: center;
    }
}